{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fivourr</title>

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css'%">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">

</head>
<body>



    <header id="home-page">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">

              <a class="navbar-brand" href="#"><img src="img/fivvour-logo.jpg" alt=""></a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"           aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>






            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

            <form class="d-flex input-group collapse navbar-expand-md" id="navbarSupportedContent">

                    <i class="fas fa-search"></i>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

                <ul class="navbar-nav ms-auto mb-lg-0 jajabor">

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Fiver Pro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Explore</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Messages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Lists</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Orders</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Switch to Selling</a>
                  </li>


                </ul>
            </div>
            </div>
        </nav>


        <div class="dag container-fluid"></div>
        <div class="catagory-selection container">
            <ul class="catagory-name" id="navbarSupportedContent">
                <li><a href="">Graphics & Design</a></li>
                <li><a href="">Disital Marketing</a></li>
                <li><a href="">Writing & Translation</a></li>
                <li><a href="">Video & Animation</a></li>
                <li><a href="">Music & Audio</a></li>
                <li><a href="">Programming & Tech</a></li>
                <li><a href="">Data</a></li>
                <li><a href="">Business
                </a></li>
                <li><a href="">Lifestyle</a></li>
            </ul>
        </div>
        <div class="dag container-fluid"></div>
    </header>



    <section class="profile-action container">
        <div class="inner-profile row">
            <div class="col-md-3">
                <div class="card inner-card">
                    <div class="card-detail">
                        <h1>Hi (Name)</h1>
                        <p>Get offers from sellers for your project</p>
                        <button class="btn profile-button">Post a request</button>
                    </div>
                </div>
            </div>


        <div class="col-md-9 felll">



            <div class="with-bg">

                <div class="bg-img">

                    <img src= {% static 'images/bg-4.jpg' %}  alt="">

                </div>

                <div class="left-post">
                    <span>Name,</span>
                    <p>Here's what you need for brand packaging</p>
                </div>


                <div class="right-slider">



                    <div class="responsive">

                        <div>
                            <div class="class">
                                <i class="fab fa-500px"></i>
                                <h5>Find the goal of your life</h5>
                            </div>
                        </div>

                        <div>
                            <div class="class">
                                <i class="fab fa-500px"></i>
                                <h5>Find the goal of your life</h5>
                            </div>
                        </div>

                        <div>
                            <div class="class">
                                <i class="fab fa-500px"></i>
                                <h5>Find the goal of your life</h5>
                            </div>
                        </div>

                        <div>
                            <div class="class">
                                <i class="fab fa-500px"></i>
                                <h5>Find the goal of your life</h5>
                            </div>
                        </div>

                        <div>
                            <div class="class">
                                <i class="fab fa-500px"></i>
                                <h5>Find the goal of your life</h5>
                            </div>
                        </div>
                        <div>
                            <div class="class">
                                <i class="fab fa-500px"></i>
                                <h5>Find the goal of your life</h5>
                            </div>
                        </div>

                        <div>
                            <div class="class">
                                <i class="fab fa-500px"></i>
                                <h5>Find the goal of your life</h5>
                            </div>
                        </div>
                        <div>
                            <div class="class">
                                <i class="fab fa-500px"></i>
                                <h5>Find the goal of your life</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--
=============================================================================
                            Continue Browsing section
============================================================================= -->


<section id="continue-browsing">
    <div class="innerbrowsing container">
        <div class="headline">
        <h1>Continue Browsing</h1>
        </div>

    <div class="service-card">
    <div class="row inner-service-card">


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



    </div>
    </div>
    </div>
</section>

<!--
=============================================================================
                            Recommended for you section
============================================================================= -->

<section id="recommended">
    <div class="innerbrowsing container">
        <div class="headline">
        <h1>Recommended for you</h1>
        </div>

    <div class="service-card">
    <div class="row inner-service-card">


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>






    </div>
    </div>
    </div>
</section>

<!--
=============================================================================
                            Most popular Gigs in Web Programming
============================================================================= -->


<section id="popular-gig">
    <div class="innerbrowsing container">
        <div class="headline">
        <h1>Most popular Gigs in Web Programming </h1>
        </div>

    <div class="service-card">
    <div class="row inner-service-card">


        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-md-3 m-2">
            <div class="card">
                    <img src="img/bg-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




    </div>
    </div>
    </div>
</section>



<!--
=============================================================================
                            Gigs you may like
============================================================================= -->


<section id="Gigs-you-may-like">
    <div class="innerbrowsing container">
        <div class="headline">
        <h1>Gigs-you may-like </h1>
        </div>

    <div class="service-card">



    <div class="row service-card mb-5">


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bgbg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bgbg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bgbg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>






    </div>



    </div>
 </div>
</div>
</section>





<!--
=============================================================================
                            Verified Pro services in Web Programming
============================================================================= -->


<section id="verified-service">
    <div class="innerbrowsing container">
        <div class="headline">
        <h1 class="verified">Verified Pro services in Web Programming</h1>
        <p class="">Hand-vetted talent for all your professional needs.</p>
        </div>

    <div class="service-card">



    <div class="row service-card mb-5">


        <div class="col-sm-6 col-md-4 col-lg-3  resizing">
            <div class="card">
                    <img src="img/bg-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


    </div>


 </div>
</div>
</section>






<!--
=============================================================================
                            Middle slider
============================================================================= -->


<section id="middle-slider">
    <div class="container">

        <div class="slidermoron">

        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>


        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>


        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>


        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>


        <div>
            <div class="class">
                <i class="fas fa-allergies boro"></i>
                <h5>Work hard, focus your goal</h5>
            </div>
        </div>




        </div>


    </div>
</section>

<!--
=============================================================================
                            Editors' picks
============================================================================= -->





<section id="editors-picks">
    <div class="innerbrowsing container">
        <div class="headline">
        <h1>Gigs-you may-like </h1>
        </div>

    <div class="service-card">



    <div class="row service-card mb-5">


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bgbg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bgbg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bgbg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bgbg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>




        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bgbg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>



        <div class="col-sm-6 col-md-4 col-lg-3 resizing">
            <div class="card">
                    <img src="img/bg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The name of seller</h5>

                    <p class="card-text">Some quick example text to build on the card title.</p>

                    <div class="level">
                        <i class="fas fa-star"></i>
                        <strong>4.5</strong>

                        <span class="for-right">fiver level</span>
                    </div>
                </div>
                <div class="card-footer">
                    <i class="fas fa-bars p-1"></i>
                    <i class="fas fa-heart"></i>
                    <span class="for-right">Starting Start</span>
                </div>

            </div>
        </div>






    </div>



    </div>
 </div>
</div>
</section>




    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>